body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/312/115/original/alexandru-ni-a-pokeball-animation.gif?1639648968');
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px #fff;
}

form {
    width: 300px;
    margin-top: 20px;
    padding: 50px;
    border: 2px solid #c764ff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #e6b3ff;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #6e39a6;
    color: #fff;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #b800ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e600ff;
}
